input[type="radio"][name="favoriteColor"] {
    height: 30px;
}

input[type="radio"][name="favoriteColor"]::after {
    content: "ocean";
    display: block;
    font-size: 24px;
    width: 200px;
    position: relative;
    top: 0px;
    left: 20px;
    text-align: center;
}

#colorGroup1::after {
    color: #FF0000;
    background: #00FF00;
}

#colorGroup2::after {
    color: #FFFF00;
    background: #FF00FF;
}

#colorGroup3::after {
    color: #00FF00;
    background: #FF0000;
}

#colorGroup4::after {
    color: #00FFFF;
    background: #FF4000;
}

#colorGroup5::after {
    color: #0000FF;
    background: #FF8000;
}

#colorGroup6::after {
    color: #FF00FF;
    background: #FFFF00;
}

#testForm {
    width: 90%;
    margin: auto;
}